._3y6a ._2yg .uiMentionsInput .input{min-height:120px}._3y6a ._1dsl{display:none}
._2er4{position:absolute;right:0;top:0}._mot{position:relative;text-align:center}._2er3{width:100%}

#bootloader_IbHCf{height:42px;}.bootloader_IbHCf{display:block!important;}