#menu {
	color: #ff4253;
	background-color: black;
}
.navegador{
	background-color: blue;
	color: white;
}
.jumbotron{
	background-image: url(../media/img/fondo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
           }
}
.bfondo{
  background-image: url(../media/img/b3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}